@using bytez.webui.ViewModel
@model BasketIndexVM
@{
    var user = User.Identity.Name;

}
<div class="container-basket">
    @foreach(var pb in Model.ProductBaskets)
    {
        
            <div class="row-basket">
                <div class="basket">
                @{
                    foreach(var product in Model.Products)
                    {
                        if (Model.Baskets != null && Model.Baskets.User.NameSurname == user && pb.BasketId == Model.Baskets.Id && product.Id==pb.ProductId)
                        {

                            <div class="card-basket">
                                <img src="~/ui/assets/image/@product.ProfileProduct" />
                                <div class="card-basket-body">
                                    <h2 class="card-basket-title">@product.Title</h2>
                                    @Html.Raw(product.Description)
                                    <p class="stock-@(product.Stock != null ? "success" : "danger")">
                                        @if (product.Stock != null)
                                        {
                                            <span>In Stock</span>
                                        }
                                        else
                                        {
                                            <span>Not in Stock</span>
                                        }
                                        <div class="card-quantity">
                                            <div class="card-quantity-form">
                                                <div class="card-quantity-body">
                                                    <button class="btn-minus" type="button">-</button>
                                                    <input type="text" inputmode="numeric" data-stock="@product.Stock" data-id="@product.Id" value="1" placeholder="1" min="1" max="@product.Stock" id="quantity" />
                                                    <button class="btn-plus" type="button">+</button>
                                                </div>
                                                <button class="basket-delete" data-id="@pb.Id">zibi;</button>
                                            </div>

                                            <div class="card-basket-price">
                                                <ul>
                                                    <li> <span>Sub Total</span> (@pb.Quantity Items)</li>
                                                    <li> $ @(product.Price * pb.Quantity)</li>
                                                </ul>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        }
                    }
                   



                    }


                </div>
                <div class="order"></div>
            </div>
        }

        
    
</div>