@using bytez.business.Dto.Product


@model CreateProductDto


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create</h4>
            <p class="card-description">Create elements</p>
            <form class="forms-sample" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Title">Name</label>
                    <input asp-for="@Model.Title" type="text" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="@Model.Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Images">File upload</label>
                    <input asp-for="@Model.Images" multiple class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.Images"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProductFile "></label>
                    <input asp-for="@Model.ProductFile" multiple class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.ProductFile"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price">Price</label>
                    <input asp-for="@Model.Price" class="form-control" placeholder="Price">
                    <span class="text-danger" asp-validation-for="@Model.Price"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.CategoryId">Category</label>
                    <select asp-for="@Model.CategoryId" class="form-control" asp-items="@ViewBag.Category">
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.BrandsId">Model</label>
                    <select asp-for="@Model.BrandsId" class="form-control" asp-items="@ViewBag.Brands">
                       

                    </select>
                    <span class="text-danger" asp-validation-for="@Model.BrandsId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Discount">Discount</label>
                    <select asp-for="@Model.Discount" class="form-control" asp-items="Html.GetEnumSelectList<Discount>()">
                      

                    </select>
                    <span class="text-danger" asp-validation-for="@Model.Discount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProductMemory"></label>
                    <select asp-for="@Model.ProductMemory" class="form-control" asp-items="Html.GetEnumSelectList<ProductMemory>()">
                       

                    </select>
                    <span class="text-danger" asp-validation-for="@Model.ProductMemory"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProductRam"></label>
                    <select asp-for="@Model.ProductRam" class="form-control" asp-items="Html.GetEnumSelectList<ProductRam>()">

                    </select>
                    <span class="text-danger" asp-validation-for="@Model.ProductRam"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ColorId">Color</label>
                    <select asp-for="@Model.ColorId" class="form-control" asp-items="@ViewBag.Color">
                     
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.ColorId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Stock">Stock</label>
                    <input asp-for="@Model.Stock" class="form-control" />
                    <span class="text-danger" asp-validation-for="@Model.Stock"></span>
                </div>
                <div class="form-group">

                    <label asp-for="@Model.Higlist"></label>
                    <textarea asp-for="@Model.Higlist" class="form-control" rows="4"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Higlist"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Description">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidatorForm")

    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('Description');
        CKEDITOR.replace('Higlist');
    </script>
}
